@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.body {
  padding: 0;
  margin: 0;
  font-family: "Press Start 2P", cursive;
  background-image: url("../images/2dbg.png");
  background-size: cover;
  color: black;
}

.redirect {
  text-decoration: none;
}

h1:hover {
  cursor: pointer;
}

.empty {
  width: 1px;
  height: 1px;
}

.bgs {
  border-radius: 9px;
  transition: all ease 2s;
}

.bgs:hover {
  color: red;
}

/*  GAME  */
.game {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  background-color: rgb(35, 209, 209);
  color: black;
}

#board {
  border: 5px solid black;
}

#gameBoard {
  height: auto;
}

.but {
  position: absolute;
  width: max-content;
  height: max-content;
  padding: 5px;
  border-radius: 2px;
  background-color: yellow;
}

.but:hover {
  cursor: pointer;
}

.guidance {
  background-image: url("../images/letter.png");
  background-size: cover;
  height: 100vh;
}
